<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- 配置默认的执行器。SIMPLE 执行器没有什么特别之处。REUSE 执行器重用预处理语句。BATCH 执行器重用语句和批量更新 -->
        <setting name="defaultExecutorType" value="REUSE"/>
        <!-- 以秒为单位的全局sql超时时间设置,当超出了设置的超时时间时,会抛出SQLTimeoutException -->
        <setting name="defaultStatementTimeout" value="5000"/>
    </settings>
    <typeAliases>
        <package name="cn.aj.domain.entity"/>
    </typeAliases>
</configuration>