<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.aj.ExampleDao">
	<resultMap type="Example" id="exampleResultMap">
		<result property="id" column="ID" />
		<result property="empKey" column="EMP_KEY" />
		<result property="empValue" column="EMP_VALUE" />
	</resultMap>
	
	<sql id="table_columns">
		ID,
		EMP_KEY,
		EMP_VALUE
    </sql>

	<sql id="entity_properties">
		#{id},
		#{empKey},
		#{empValue}
	</sql>

    <sql id="page_where">
        <trim prefix="where" prefixOverrides="and | or ">
            <if test="id != null and id != ''">and ID = #{id}</if>
            <if test="empKey != null and empKey != ''">and EMP_KEY = #{empKey}</if>
            <if test="empValue != null and empValue != ''">and EMP_VALUE = #{empValue}</if>
        </trim>
    </sql>


    <insert id="insertSelective" parameterType="Example">
        insert into example
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null and id != ''">ID,</if>
            <if test="empKey != null and empKey != ''">EMP_KEY,</if>
            <if test="empValue != null and empValue != ''">EMP_VALUE,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null and id != ''">#{id},</if>
            <if test="empKey != null and empKey != ''">#{empKey},</if>
            <if test="empValue != null and empValue != ''">#{empValue},</if>
        </trim>
	</insert>

    <delete id="delete" parameterType="Example">
        delete from example
        <include refid="page_where" />
    </delete>

	<update id="update" parameterType="Example">
		update example
		<trim prefix="set" suffixOverrides=",">
            <if test="empKey != null and empKey != ''">EMP_KEY = #{empKey},</if>
            <if test="empValue != null and empValue != ''">EMP_VALUE = #{empValue},</if>
		</trim>
		<where>ID = #{id}</where>
	</update>

    <select id="find" resultMap="exampleResultMap">
        select <include refid="table_columns" />
        from example
        <include refid="page_where" />
    </select>

    <select id="findAll" resultMap="exampleResultMap">
        select <include refid="table_columns" />
        from example
    </select>

    <select id="getCount" resultType="int" >
        select count(1) from example
        <include refid="page_where" />
    </select>

	<!-- 其他自定义SQL -->

</mapper>